package input

templ TextField(props Props) {
	<label class="text-sm font-medium text-gray-700 dark:text-gray-200 mt-5 block">
		{ props.Label }
		<input class="form-control mt-2" type={ props.Type } name={ props.Name }/>
	</label>
}
